# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so
*.c

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
.eggs/

# Environments
.env
.venv
venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
.pytest_cache/
.coverage
htmlcov/

# Miscellaneous
.DS_Store
.mypy_cache/
.tox/
.nox/
pip-log.txt
pip-delete-this-directory.txt
.history
.ipynb_checkpoints/